:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.main-container {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: yellow;
}



.file-container {
  background-color: green;
  max-width: 300px;
  min-width: 200px;
  width: 20%;
  overflow-y: auto;
  
  
}

.list-group-item.file-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-close.remove-file-button {
  color: white;
  border: none;
  border-radius: 15px;
  padding: 0px;
  cursor: pointer;
  margin-left: 10px;
}


#file-title {
  background-color: red;
  font-size: 1.5em;
  font-weight: 600;
  margin: auto;
  padding: 20px;
  text-align: center;
}



.chat-container {
  background-color: pink;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.chat-history-container{
  width: 100%;
  height: 100%;
  overflow-y: scroll;

}

.chat-history-list.list-group {
  background-color: purple;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  
}


.chat-input-container {
  background-color: orange;
  width: 100%;
  padding: 20px;
}

.chat-input-element-container {
  background-color: rgb(229, 70, 70);
  max-width: 750px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
}

.chat-input {
  background-color: rgb(255, 196, 196);
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.chat-user-container.list-group-item{
  background-color: rgb(196, 255, 196);
  width: 100%;
  max-width: 750px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.chat-user {
  background-color: rgb(83, 148, 83);
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.chat-bot {
  background-color: rgb(196, 196, 255);
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}


