@import '../../ComponentsStyle/ComponentsVariables.scss';

.file-container {
    background-color: var(--primary-background-color);
    max-width: 300px;
    min-width: 200px;
    width: 25%;
    overflow-y: auto;
    height: calc(100vh - 140px);
   
  
    &::-webkit-scrollbar {
      width: 5px;
    }
  
    &::-webkit-scrollbar-track {
      background: var(--secondary-background-color);
    }
  
    &::-webkit-scrollbar-thumb {
      background: var(--primary-background-color)
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background: var(--secondary-background-color);
    }
  
    #file-title {
      background-color: inherit;
      font-weight: 600;
      padding: 20px;
      text-align: center;
      color: var(--primary-text-color);
    }

    .dropZone {
      position: fixed;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 128, 0, 0.099);
      border: 2px dashed rgba(255, 255, 255, 0.086);
      border-radius: 5px;
      color: var(--primary-text-color);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100px;
      margin: 20px;
      padding: 20px;
      text-align: center;
      width: calc(20% - 40px);
      min-width: calc(200px - 40px);
      max-width: 260px;
      transition: all 0.3s ease;

      &:hover {
        background-color: var(--primary-background-color-hover);
        color: white;
      }
  
      

      &.dragging {
        background-color: var(--secondary-background-color-hover);
      }
    }

    
  }